.fieldCheckBox {
    cursor: pointer;    
}
.dragdrop-container {
    padding: 10px;
    width: 95%;
}

.dd-container {
    display: flex;
    /* background: cyan; */
}

.dd-fields-container {
    /* background: tomato; */
    display: flex;
    flex-direction: column;
    flex: 0 1;
}

.dd-axes-container {
    /* border: 1px solid black; */
    flex: 0 0;
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.axis-label {
    width: 60px;
}

.axis-container {
    display: flex;
    flex: 0 0;
    /* border: 1px solid black; */
    flex-direction: row;
    padding-left: 5px;
    align-items: center;
}
/* .axis-container-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
} */

.droppable-container {
    margin: 2px;
    /* flex: 1 0; */
    width: 92%;
}

.fields-text {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.filters-container {
    height: 120px;
    width: 150px;
    overflow: scroll;
}
.filters-container td {
    padding: 1px;
}


.sf .df th.header.aggregate {
    background-color: white;
}

.sf .df td.summary, .sf .df th.summary, .sf .df .table.is-striped tbody tr:nth-child(even) td.fixed.summary {
    background-color: white;
}