.analysisUIMainDiv {
    background-color: white;
    position: relative;
}

.collapseMenuMainDiv {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    z-index: 999;
}
 
.analysis-sql-frame-div{
  max-width: 85rem !important;  
}
 
.analysis-sql-frame-max-width{
  max-width: 110rem !important;  
}
 
 
.editModeChip {
  background-color: #7d7d7d;
  color: white;
  border-radius: 11px;
  font-size: 11px;
  padding: 3px;
  margin-left: 10px;
}
 
.sql-frame-analysis-button-div button {
  border: 1px solid #dcd6d6;
  margin: 0px 4px;
}
 
 
 
 
 
 

