.menuMain {
  display: flex;
}

.menuItem {
  transform: rotate(-90deg);
  display: flex;
}

.handIcon {
  cursor: pointer;
}

.boxBorder {
  /* border: 3px solid black;
  min-height: 25rem; */

}

.borderLeft {
  /* border-left: 3px solid black; */
  border-left: 1px solid #e4dada;
  min-height: 500px;
}

.boxHeading {
  font-size: 10px;
  margin-bottom: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.columnHeading,
.boxHeading {
  font-weight: bold;
}

.columnHeading {
  font-size: 12px;
}

.boxHeading span a {
  font-size: 8px;
  text-decoration: underline;
  color: black;
  margin-left: 11px;
}

.filterDiv {
  overflow: 'auto';
  margin-bottom: 14px;
  min-height: 7rem;
  border: 1px dashed black;
  border-radius: 10px;
  background-color: #f7f6f6;
}


.chip-remove-icon {
  font-weight: bold !important;
}

.contentStyle {
  /* cursor: pointer; */
}



.allAccordianClosed {
  margin-left: 6rem;
}

.filtersBox {
  visibility: hidden;
  height: 0px;
}


.fieldsCheckBox {
  accent-color: #838080;
  position: relative;
  top: 4px;
}